Django==2.1rc1
mysqlclient==1.3.13
Pillow==5.2.0
Pygments==2.2.0
whoosh==2.7.4
bleach==2.1.3
django-bleach==0.3.0
django-contrib-comments==1.8.0
django-countries==5.3.1
django-dbgettext==0.1.2
django-debug-toolbar==1.9
django-hashid-field==2.1.1
django-ical==1.4
django-localflavor==2.0
django-messages==0.4.4
django-multiselectfield==0.1.8
django-rosetta==0.8.1
django-sendfile==0.3.11
django-tables2==1.10.0
django-widget-tweaks==1.4.1
flake8==2.5.4
flake8-respect-noqa==0.2
hashids==1.2.0
html5lib==1.0.1
lockfile==0.12.2
microsofttranslator==0.8
phabricator==0.7.0
polib==1.1.0
postmarkup==1.2.1
pylint==1.9.2
pylint-django==0.11.1
pylint-plugin-utils==0.2.6
python-openid==2.2.5
pytz==2018.3
sqlparse==0.2.2
unicodecsv==0.14.1
libsass==0.11.1
django-compressor==2.2
django-sass-processor==0.3.5
python-memcached==1.58
django-haystack-panel==0.2.1

git+git://github.com/dcollinsn/django-async.git@0e464ed3e6b77bbbd6069c27924c624c3fe7c0d0#egg=django-async
git+git://github.com/dcollinsn/django-avatar.git@068a765d7b8abe7808678ad52966a07b19d3d68d#egg=django-avatar
git+git://github.com/dcollinsn/django-avatar-crop.git@9e24133c337790419e73b2753112299c2f1edfea#egg=django-avatar-crop
git+git://github.com/CraveFood/django-haystack.git@d761d1239483cb460056c226f5768ca5e2e78eb7#egg=django-haystack
git+git://github.com/dcollinsn/django-magic-cards.git@094652110240deef6ddb16414d06b916bb5f6c69#egg=django_magic-cards
git+git://github.com/dcollinsn/django-mailer.git@a31123856e76bbf2af9f3a70b6316432a8d7c79e#egg=django_mailer
git+git://github.com/juanifioren/django-oidc-provider.git@795ac322570230ed4c39a98844f0c5431f5024c5#egg=django-oidc-provider
git+git://github.com/dcollinsn/django-pagination.git@7968d3119607637a2d69562063a353c46d408afe#egg=django-pagination
git+git://github.com/dcollinsn/django-registration.git@b0a09d9a1fd2dc91c787c2c529c25c72f4bbbe96#egg=django-registration
git+git://github.com/aljosa/django-tinymce.git@076ce2df0979195ecc5be4be28755243584e9d41#egg=django-tinymce
git+git://github.com/dcollinsn/lamson.git@f27bcbc8af4eb5a5766f92cd29634edd03f96f57#egg=lamson
git+git://github.com/dcollinsn/python-modargs.git@980345515aa1cef7f0313833e0813de9b5bf66b6#egg=python-modargs
