Django==2.1.2
mysqlclient==1.4.1
astroid==2.0.4
bleach==3.0.2
certifi==2018.10.15
chardet==3.0.4
confusable-homoglyphs==3.2.0
django-appconf==1.0.2
django-bleach==0.3.0
django-compressor==2.2
django-countries==5.3.2
django-dbgettext==0.1.2
django-debug-toolbar==1.10.1
django-hashid-field==2.1.4
django-haystack-panel==0.2.1
django-ical==1.5
django-light-enums==0.1.6
django-localflavor==2.1
django-messages==0.5.3
django-multiselectfield==0.1.8
django-rosetta==0.9.0
django-sass-processor==0.7.1
django-sendfile==0.3.11
django-tables2==2.0.2
django-tinymce4-lite==1.7.3
django-widget-tweaks==1.4.3
docutils==0.14
elasticsearch==5.5.3
flake8==3.6.0
flake8-respect-noqa==0.3
future==0.17.0
gunicorn==19.9.0
hashids==1.2.0
html5lib==1.0.1
icalendar==4.0.3
idna==2.7
inflect==1.0.1
isort==4.3.4
Jinja2==2.10
lazy-object-proxy==1.3.1
libsass==0.15.1
lockfile==0.12.2
MarkupSafe==1.0
mccabe==0.6.1
microsofttranslator==0.8
mock==2.0.0
nose==1.3.7
pep8==1.7.1
phabricator==0.7.0
Pillow==5.3.0
polib==1.1.0
postmarkup==1.2.2
pycryptodomex==3.6.6
pyflakes==2.0.0
Pygments==2.2.0
pyjwkest==1.4.0
pylint==2.1.0
pylint-django==2.0.2
pylint-plugin-utils==0.4
python-daemon==2.2.0
python-dateutil==2.7.4
python-memcached==1.59
python-openid==2.2.5
pytz==2018.6
raven==6.9.0
rcssmin==1.0.6
requests==2.20.0
rjsmin==1.0.12
simplejson==3.16.0
six==1.11.0
sqlparse==0.2.4
unicodecsv==0.14.1
urllib3==1.24
webencodings==0.5.1
Whoosh==2.7.4
wrapt==1.10.11

# Customized requirements
#
# For each requirement from git, list the version number and commit date
# that it is based on. When a customized requirement is based on a version
# that is significantly out of date, the customized version should be rebased
# if possible. List the reasons a requirement has been customized so that
# we can determine when a released version meets our needs.

# django-contrib-comments:
# * Compat with Django 2.1
# Base version 1.8.0, customized since August 2018
git+git://github.com/django/django-contrib-comments.git@f6001fc4cc76f388021793cd3178de75c5b22b51#egg=django-contrib-comments

# django-markitup:
# * Compat with Django 2.0
# Base version 3.0.0, customized since October 2018
git+git://github.com/dcollinsn/django-markitup.git@c8aa0a0a2ee54fa3753a3a57a6278e560c651d3b#egg=django-markitup

# django-haystack:
# * Compat with ElasticSearch 5
# Last upstream patch January 2017
# TODO: Current upstream may meet requirements
git+git://github.com/CraveFood/django-haystack.git@d761d1239483cb460056c226f5768ca5e2e78eb7#egg=django-haystack

# django-oidc-provider: 
# * Compat with Django 2.1
# Base version 0.6.1, customized since July 2018
git+git://github.com/dcollinsn/django-oidc-provider.git@85ca08353284da43fe8aba661830aa005bd08955#egg=django-oidc-provider

# Permanent customized requirements

# django-async:
# * Upstream is unmaintained
# * Compat with Django 2.0
# Base version 0.7.3, last upstream patch April 2017
git+git://github.com/dcollinsn/django-async.git@0e464ed3e6b77bbbd6069c27924c624c3fe7c0d0#egg=django-async

# django-avatar:
# * Add "add_/change_/delete_for_user" avatar management views
# * Improve some caching
# Base version 4.1.0, last upstream patch December 2017
git+git://github.com/dcollinsn/django-avatar.git@068a765d7b8abe7808678ad52966a07b19d3d68d#egg=django-avatar

# django-avatar-crop:
# * Upstream is unmaintained
# * Compat with Django 1.7
# Base version 0.3.0, last upstream patch September 2014
git+git://github.com/dcollinsn/django-avatar-crop.git@9e24133c337790419e73b2753112299c2f1edfea#egg=django-avatar-crop

# django-magic-cards:
# * Compat with Django 2.0
# Base version 0.4.1, last upstream patch November 2017
git+git://github.com/dcollinsn/django-magic-cards.git@094652110240deef6ddb16414d06b916bb5f6c69#egg=django_magic-cards

# django-mailer:
# * Add support to set custom headers
# * Add "clean_mailer_log" command
# Base version 1.2.4, last upstream patch February 2018
git+git://github.com/dcollinsn/django-mailer.git@a31123856e76bbf2af9f3a70b6316432a8d7c79e#egg=django_mailer

# django-pagination:
# * Upstream is unmaintained
# * Compat with Django 2.0
# Base version 1.0.7, last upstream patch November 2016
git+git://github.com/dcollinsn/django-pagination.git@7968d3119607637a2d69562063a353c46d408afe#egg=django-pagination

# django-registration:
# * Upstream has broken compatibility
# * Compat with Django 2.0
# Base version 2.4.1, last upstream patch February 2018
git+git://github.com/dcollinsn/django-registration.git@b0a09d9a1fd2dc91c787c2c529c25c72f4bbbe96#egg=django-registration

# lamson:
# * Upstream is unmaintained
# * Compat with Django 2.0
# Base version 1.3.4, last upstream patch March 2013
git+git://github.com/dcollinsn/lamson.git@f27bcbc8af4eb5a5766f92cd29634edd03f96f57#egg=lamson

# python-modargs:
# * Upstream is unmaintained
# * Compat with Django 2.0
# Base version 1.8, last upstream patch October 2015
git+git://github.com/dcollinsn/python-modargs.git@980345515aa1cef7f0313833e0813de9b5bf66b6#egg=python-modargs
